---
export const lingua = "ES";
---

<button
	class="h-9 w-9 rounded-md p-2 font-bold ring-zinc-400 transition-all hover:ring-2"
	type="button"
	id="toggle-btn"
	data-lang="es"
>
	{lingua}
</button>

<script>
	// Función para alternar entre los idiomas
	export let lang = "es";
	function toggleLanguage() {
		// Obtiene el botón de cambio de idioma
		const toggleBtn = document.getElementById("toggle-btn");

		// Obtiene el idioma actual del botón
		const currentLang = toggleBtn?.dataset.lang;

		// Alterna entre los idiomas
		const newLang = currentLang === "es" ? "en" : "es";
		toggleBtn.dataset.lang = newLang;

		// Actualiza el texto del botón
		toggleBtn.innerText = newLang.toUpperCase();
		lang = newLang;
		return lang;
	}
	console.log(lang);

	// Agrega un event listener al botón de cambio de idioma
	document.getElementById("toggle-btn").addEventListener("click", toggleLanguage);
</script>
